/Programacion 2/Codigo/Unidad 1/EjercicioVideo_statico/nbproject/private/
/Programacion 2/Codigo/Unidad 1/Ejercicio_clasesAbstractas/nbproject/private/
/Programacion 2/Codigo/Unidad 1/Diagrama_02/build/
/Programacion 2/Codigo/Unidad 2/Arreglos/PracticaArreglos/nbproject/private/
/Programacion 2/Codigo/Unidad 2/Arreglos/PracticaArreglos/build/
/Programacion 2/Codigo/Unidad 2/Arreglos/DiagramaPractico/nbproject/private/
/Programacion 2/Codigo/Unidad 2/DiagramaPractico/nbproject/private/
/Programacion 2/Codigo/Unidad 2/DiagramaPractico/build/
/Programacion 2/Codigo/Unidad 2/Ejercicio_Enum/nbproject/private/
/Programacion 2/Codigo/Unidad 2/Ejercicio_Enum/build/
